{% load static %}
{% if not user.is_authenticated %}
<!-- Блок Входа -->
<div class="sidebar-box mb-4">
    <h4 class="mb-4 text-center fw-bold">Вход</h4>
    <form method="post" action="{% url 'main:login' %}">
        {% csrf_token %}
        <input type="text" name="username" class="form-control form-control-custom mb-3" placeholder="Логин">
        <input type="password" name="password" class="form-control form-control-custom mb-3" placeholder="Пароль">
        <button type="submit" class="btn btn-login w-100 mt-2">Войти</button>
    </form>
</div>
{% endif %}

{% if user.is_authenticated and not user.newsletter_subscribed %}
<!-- Блок Подписки -->
<div class="sidebar-box mb-4">
    <h5 class="fw-bold mb-3">Подписка на новости</h5>
    <p class="small opacity-75 mb-3">Получайте последние новости на почту.</p>
    <form method="post" action="{% url 'main:toggle_newsletter' %}">
        {% csrf_token %}
        <button class="btn btn-success">
            Подписаться на рассылку
        </button>
    </form>
</div>
{% endif %}
<!-- Блок О нас -->
<div class="sidebar-box">
    <h5 class="fw-bold mb-3">О нас</h5>
    <p class="small opacity-75 mb-4">
        Российское ядерное общество - некоммерческая организация, объединяющая специалистов атомной отрасли России.
    </p>
    <a href="{% url 'main:page_detail' slug='about-us' %}" class="btn btn-outline-custom px-4 rounded-3">Подробнее</a>
</div>