<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">


</head>
<body>
    <div class="container">
        <div class="button_group">
            <ls>
                <li><a href="./base.html">Главная</a></li>
                <li><a href="./educ.html">Образование и карьера</a></li>
                <li><a href="./login.html">Мероприятия</a></li>
                <li><a href="./login.html">Материалы</a></li>
                <li><a href="./login.html">О нас</a></li>
                <li><a href="./login.html">Вход</a></li>
                <li><a href="./register.html">Регистрация</a></li>
                
            </ls>
        </div>
    </div>
    

    <script src="script.py"></script>


</body>
</html>