{% extends 'base.html' %}

{% block title %}Новый пароль{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="text-center mb-4">Введите новый пароль</h2>

                    <form method="post">
                        {% csrf_token %}
                        
                        <div class="form-floating mb-3">
                            <input type="password" name="new_password1" class="form-control" placeholder="Новый пароль" required>
                            <label>Новый пароль</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" name="new_password2" class="form-control" placeholder="Повторите пароль" required>
                            <label>Повторите пароль</label>
                        </div>

                        <button class="btn btn-success w-100">Сменить пароль</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}