{% extends 'base.html' %}

{% block title %}О нас - Российское ядерное сообщество{% endblock %}

{% block content %}
<div class="container">
    <h1 class="fw-bold mb-4">{{ page.title|default:"О нас" }}</h1>
    <div class="row">
        <div class="col-md-12">
            {% if page and page.content %}
                <div class="content-richtext">
                    {{ page.content|safe }}
                </div>
            {% else %}
                <p>Здесь будет инфомации о Российском ядерном обществе</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
