{% extends 'base.html' %}

{% block title %}Регистрация - Russian Nuclear Society{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Регистрация</h2>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email" required>
                            <label for="email">Почта</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="firstName" placeholder="Имя" name="first_name" required>
                            <label for="firstName">Имя</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="lastName" placeholder="Фамилия" name="last_name" required>
                            <label for="lastName">Фамилия</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="password" placeholder="Пароль" name="password" required>
                            <label for="password">Пароль</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="confirmPassword" placeholder="Подтвердить пароль" name="confirm_password" required>
                            <label for="confirmPassword">Подтвердить пароль</label>
                        </div>
                        <button class="btn btn-primary w-100 py-2" type="submit">Зарегистрироваться</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Проверка совпадения паролей
    document.querySelector('form').addEventListener('submit', function(e) {
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirmPassword').value;
        
        if (password !== confirmPassword) {
            e.preventDefault();
            alert('Пароли не совпадают!');
        }
    });
</script>
{% endblock %}